* {
    background-color: #f0f0f0;
}

.col-sm-3 {
    width: 100px;
    height: 100px;
    line-height: 100px;
    display: table-cell;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    border: white solid 15px;
    border-radius: 50% ;
    color: white;
    font-family: 'Anton', sans-serif;
}

.col-sm-3:nth-child(1) {
    background-color: #e6563b;
}
.col-sm-3:nth-child(2) {
    background-color: #EB9D3A;
}
.col-sm-3:nth-child(3) {
    background-color: #7cb06c;
}
.col-sm-3:nth-child(4) {
    background-color: #00aba9;
}

h1, h2 {
    font-family: 'Anton', sans-serif;
}

p, a {
    font-family: 'Abel', sans-serif;
    color: black;
}

.col,.circles {

}
.row ,.d-flex ,.justify-content-center > p {
    font-size: xx-large;
}