body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: .5em;
    padding: .5em;
    border: 1.5px solid lightgray;
    /*width: 100%;*/
    border-radius: .5em;
}

:root {
    --info-bg-color: #b9d4ea;
    --info-color: #474780;
}

.message-error {
    background-color: #ffc6c6;
    color: darkred;
}

.message-info {
    background-color: var(--info-bg-color);
    color: var(--info-color);
}

.message-success {
    background-color: #dcf3dc;
    color: #2a7d2a;
}

.message-warning {
    background-color: lightyellow;
    color: #9a9337;
}