.container {
    margin: 0;
    padding: 0;
    border: solid black 1px;
}

#nav_bar_items {
    display: flex;
    align-content: baseline;
    width: 100%;
    justify-content: space-between;
    color: white;
    background-color: rgba(244, 60, 255, 0.01);
    /*border: solid black 1px;*/
}

#map {
    /* the width and height may be set to any size */
    width: 100vw;
    height: 50vh;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#colOne {
    border: solid black 1px;
    background-color: #d9d1d1;
    height: 599px;
    width: 997px;

}

#main-card-col {
    display: flex;
    border: solid lightblue 5px;
}

#map_col {
    border: solid lightblue 5px;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
}

/*#top_nav {*/
/*    width: 75px;*/
/*}*/

* {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    color: #e20000;

}

#find_button {
    background-color: #ec0029;
}

.card:hover {
    background-color: rgb(222, 136, 173);
}

