* {
    margin: 0;
    padding: 0;
}

#nav_bar_items {
    display: flex;
    align-content: baseline;
    width: 100%;
    justify-content: space-between;
    color: white;
    background-color: blue;
    border: solid black 1px;
}

#map {
    /* the width and height may be set to any size */
    width: 100vw;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#colOne {
    border: solid black 1px;
    background-color: #d9d1d1;
    height: 599px;
    width: 997px;

}

#main-card-col {
    display: flex;
}
/*#main-card-col {*/
/*    border: solid lightgrey 1px;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-color: #3B94D9;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/